.contact {
  margin-top: 70vh;
  background-color: var(--light-grey);
  position: relative;
}

.contact .img {
  width: 100%;
}

.contact .data {
  position: absolute;
  width: 100%;
  top: 60vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact .data .headline {
  color: var(--white);
}

.contact-details {
  color: var(--white);
}

.contact-details-slash {
  margin: 0 1rem;
  font-size: 1.7rem;
  font-weight: 900;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #fffcd7 0%,
      #fcf7ce 5%,
      #eedc9e 36%,
      #e5c97c 63%,
      #dfbe67 85%,
      #ddba60 100%
    )
    0% 0% no-repeat padding-box;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

.contact-details-email {
  cursor: pointer;
}
