.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  font-size: 19px;
  padding-bottom: 0.5%;
}

.menu-ltr {
  right: 20%;
}

.menu-rtl {
  left: 20%;
}

@media (height >= 1700px) and (width >= 3000px) {
  .menu {
    font-size: 60px;
  }
}

@media (width <= 760px) {
  .menu {
    font-size: 16px;
  }
}

@media (width <= 670px) {
  .menu {
    font-size: 14px;
  }
}

@media (width <= 615px) {
  .menu {
    font-size: 12px;
  }
}

@media (width <= 580px) {
  .menu-rtl {
    left: 15%;
    padding-bottom: 0;
  }
  .menu-ltr {
    right: 15%;
    padding-bottom: 0;
  }
}

@media (width <= 500px) {
  .menu {
    font-size: 13px;
  }
}

.menu-mobile {
  display: flex;
  flex-direction: column;
  padding-right: 0;
}
