.subtitle {
  margin: 0;
  font-size: 55px;
  color: var(--blue);
  font-weight: 100;
}

@media (width <= 560px) {
  .subtitle {
    font-size: 32px;
    font-weight: 200;
  }
}

.underline {
  margin: 0 auto;
}
