.title {
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 2%;
}

/* @media (width < 1380px) {
  .title {
    font-size: 1.6rem;
  }
}

@media (width < 1267px) {
  .title {
    font-size: 1.4rem;
  }
} */
