.articles {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

@media (width <= 700px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (width <= 428px) {
  .articles {
    display: grid;
    grid-template-columns: 1fr;
  }
}
