.article {
  /* width: 27%; */
  aspect-ratio: 397/223;
  margin: 1rem;
  text-align: right;
  color: var(--blue);
  background-color: transparent;
}

.data {
  padding: 0 1.2rem;
}

.data p {
  text-overflow: ellipsis;
}

.img-div {
  text-align: center;
}

.img {
  width: 100%;
}

.span {
  display: block;
}

.button-read-more-div {
  margin-top: 0;
}

.button-read-more-div button {
  background-color: var(--blue);
  border-color: var(--blue);
  color: var(--white);
  font-family: inherit;
  cursor: pointer;
  padding: 0.4rem 0.8rem;
}
