.main {
  width: 100%;
  background-color: var(--light-grey);
  position: relative;
}

.main .img {
  width: 100vw;
}

.main .img-ltr {
  transform: scaleX(-1);
}

.main h1 {
  text-align: right;
  position: absolute;
  top: 32%;
  left: 50%;
  font-size: 5rem;
  width: auto;
}

.main .h1-ltr {
  left: initial;
  right: 50%;
  text-align: left;
  width: 100%;
}

@media (width > 1900px) {
  .main .h1-ltr {
    font-size: 5vw;
  }
}

@media (width >= 1340px) {
  .main h1 {
    top: 25%;
  }
  .main .h1-ltr {
    left: 3%;
  }
}

@media (1160px <= width < 1340px) {
  .main h1 {
    top: 15%;
  }
}

@media (900px <= width < 1160px) {
  .main h1 {
    top: 15%;
    font-size: 4rem;
  }
}

@media (700px <= width < 900px) {
  .main h1 {
    top: 15%;
    font-size: 3rem;
  }
}

@media (600px <= width < 700px) {
  .main h1 {
    top: 15%;
    font-size: 2.5rem;
  }
}

@media (428px < width < 600px) {
  .main h1 {
    top: 12%;
    font-size: 2rem;
  }
}

@media (width <= 500px) {
  .main h1 {
    top: 12%;
    left: 42%;
    font-size: 2rem;
  }
}

@media (width <= 440px) {
  .main h1 {
    top: 12%;
    left: 40%;
  }
  .main .h1-rtl {
    top: 8%;
  }
}

@media (width <= 410px) {
  .main h1 {
    top: 12%;
    left: 38%;
  }
}

@media (1340px <= width < 1550px) {
  .main .h1-ltr {
    left: 10%;
    top: 22%;
    font-size: 3.7rem;
  }
}

@media (width < 1340px) {
  .main .h1-ltr {
    left: 10%;
    top: 22%;
    font-size: 3.5rem;
  }
}

@media (width < 1200px) {
  .main .h1-ltr {
    top: 25%;
    font-size: 3rem;
  }
}

@media (width < 1050px) {
  .main .h1-ltr {
    top: 23%;
    font-size: 2.5rem;
  }
}

@media (width < 880px) {
  .main .h1-ltr {
    top: 20%;
    font-size: 2rem;
  }
}

@media (width < 700px) {
  .main .h1-ltr {
    top: 18%;
    font-size: 1.7rem;
  }
}

@media (width < 650px) {
  .main .h1-ltr {
    left: 5%;
    font-size: 1.6rem;
  }
}

.main h1 .title1 {
  font-weight: 900;
  color: white;
}

.main h1 .title2 {
  font-weight: 200;
  background: radial-gradient(
    var(--cream1),
    var(--cream2),
    var(--cream3),
    var(--cream4),
    var(--cream5),
    var(--cream6)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
}

@media (390px < width < 600px) {
  .main h1 .title1 {
    font-size: 34px;
  }
  .main h1 .title2 {
    font-size: 36px;
  }
}

@media (300px < width < 350px) {
  .main h1 .title1 {
    font-size: 28px;
  }
  .main h1 .title2 {
    font-size: 30px;
  }
}

@media (width <= 320px) {
  .main h1 .title1 {
    font-size: 24px;
  }
  .main h1 .title2 {
    font-size: 25px;
  }
}

@media (530px < width <= 600px) {
  .main .h1-ltr .title1 {
    font-size: 25px;
  }
  .main .h1-ltr .title2 {
    font-size: 27px;
  }
}

@media (490px < width <= 530px) {
  .main .h1-ltr .title1 {
    font-size: 23px;
  }
  .main .h1-ltr .title2 {
    font-size: 25px;
  }
}

@media (420px < width <= 490px) {
  .main .h1-ltr {
    top: 12%;
  }
  .main .h1-ltr .title1 {
    font-size: 21px;
  }
  .main .h1-ltr .title2 {
    font-size: 22px;
  }
}

@media (390px < width <= 420px) {
  .main .h1-ltr {
    top: 11%;
  }
  .main .h1-ltr .title1 {
    font-size: 19px;
  }
  .main .h1-ltr .title2 {
    font-size: 21px;
  }
}

@media (350px < width <= 390px) {
  .main .h1-ltr {
    top: 10%;
  }
  .main .h1-ltr .title1 {
    font-size: 17px;
  }
  .main .h1-ltr .title2 {
    font-size: 19px;
  }
}

@media (300px < width <= 350px) {
  .main .h1-ltr {
    top: 11%;
  }
  .main .h1-ltr .title1 {
    font-size: 13px;
  }
  .main .h1-ltr .title2 {
    font-size: 15px;
  }
}

@media (width <= 300px) {
  .main .h1-ltr {
    top: 11%;
  }
  .main .h1-ltr .title1 {
    font-size: 11px;
  }
  .main .h1-ltr .title2 {
    font-size: 13px;
  }
}
