.button {
  border: 3px solid var(--cream6);
  color: var(--cream6);
  border-radius: 50%;
  padding: 0.5rem;
  position: fixed;
  z-index: 100;
  cursor: pointer;
  background-color: white;
  bottom: 1vh;
}
