.about {
  margin-top: var(--comp-margin-top);
  margin-bottom: var(--comp-margin-bottom);
}

.about .text {
  width: 44%;
  margin: 0 auto;
  font-size: 1.2rem;
  color: var(--blue);
}

/* @media (width >= 1700px) and (height >=900px) {
  .about {
    height: 40vh;
  }
  .about .text {
    font-size: 26px;
  }
}

@media (width <= 1030px) {
  .about {
    margin-bottom: 10vh;
  }
}

@media (width <= 1030px) {
  .about {
    margin-bottom: 0;
  }
} */
