.values {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}

@media (width >= 1600px) {
  .values {
    margin: 0 auto;
    margin-top: 2%;
    width: 80%;
  }
}

@media (1000px <= width < 1600px) {
  .values {
    margin: 0 auto;
    margin-top: 2%;
    width: 90%;
  }
}

@media (width <= 1250px) {
  .values {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}

@media (width <= 860px) {
  .values {
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
