.value {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 3px #231f2033;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  color: var(--blue);
  text-align: right;
  aspect-ratio: 247/373;
  position: relative;
}

@media (width <= 1250px) {
  .value {
    aspect-ratio: 373/220;
    margin-bottom: 1rem;
  }
}

@media (width <= 1000px) {
  .value {
    aspect-ratio: 340/220;
    margin-bottom: 1rem;
  }
}

@media (width <= 900px) {
  .value {
    aspect-ratio: 300/220;
    margin-bottom: 1rem;
  }
}

@media (width <= 850px) {
  .value {
    aspect-ratio: 2.5/1;
    margin-bottom: 1rem;
  }
}

@media (width <= 700px) {
  .value {
    aspect-ratio: none;
    margin-bottom: 1rem;
    font-size: 4vw;
  }
}

.data {
  shape-outside: url(../../../../../../assets/values\ and\ articles/values/value\ blue\ triangle.svg);
  shape-margin: 1rem;
}

.triangle {
  /* float: left;
  position: static;
  top: 0;
  width: 50%; */
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin-right: 1rem;
}

@media (width >= 1700px) and (height >=900px) {
  .triangle {
    margin-top: 2vh;
  }
}

.icon {
  background-color: red;
  width: fit-content;
  position: relative;
  float: right;
  top: 1%;
  z-index: 1;
}
