.value {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 3px 3px 3px #231f2033;
  margin-left: 1rem;
  margin-right: 1rem;
  padding: 1rem;
  padding-top: 0;
  color: var(--blue);
  text-align: right;
  aspect-ratio: 247/373;
  width: 100%;
}

.data {
  shape-outside: url(../../../../../../assets/values\ and\ articles/values/value\ blue\ triangle.svg);
}

.triangle {
  float: left;
  position: static;
  top: 0;
  width: 50%;
}

.icon {
  background-color: red;
  width: fit-content;
  position: relative;
  float: right;
  top: 1%;
  z-index: 1;
}
