.page {
  width: 100%;
}

.data {
  width: 60%;
}

.bg1 {
  background-color: var(--light-grey);
  height: 50vh;
}

.bg2 {
  background-image: url(../../../../../assets/values\ and\ articles/tech\ web.png);
  height: 147vh;
}

.bg3 {
  background-color: var(--light-grey);
  height: 60vh;
}

/* @media (width >= 1700px) and (height >=900px) {
  .bg1 {
    height: 30vh;
    font-size: 20px;
  }
  .bg2 {
    margin-top: -15vh;
    height: 115vh;
  }
  .bg3 {
    height: 50vh;
  }
}

@media (1450px <= width < 1700px) and (800px <= height < 900px) {
  .bg1 {
    height: 40vh;
    font-size: 20px;
  }
  .bg2 {
    margin-top: -15vh;
    height: 125vh;
  }
  .bg3 {
    height: 50vh;
  }
}

@media (1000px <= width < 1450px) and (700px <= height < 800px) {
  .bg1 {
    height: 40vh;
    font-size: 16px;
  }
  .bg2 {
    margin-top: -15vh;
    height: 130vh;
  }
  .bg3 {
    height: 50vh;
  }
} */
