.footer {
  width: 100%;
  height: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
}

.footer h2 {
  margin-top: 0;
}

.footer h2 span {
  display: inline-flex;
  align-items: center;
  color: var(--blue);
  cursor: pointer;
}

.developer-name {
  margin-left: 0.25rem;
}

.developer-name {
  all: unset;
  background-image: radial-gradient(
    closest-side at 50% 50%,
    #fffcd7 0%,
    #fcf7ce 5%,
    #eedc9e 36%,
    #e5c97c 63%,
    #dfbe67 85%,
    #ddba60 100%
  );
  background-size: 0% 3px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 300ms ease-in-out;
  transform-origin: center;
  text-decoration: none;
}

.developer-name:hover {
  background-size: 100% 3px;
}

.linkedin-icon {
  margin-right: 0.25rem;
}
