@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400&display=swap");

body {
  margin: 0 auto;
  font-family: "Assistant", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light-grey);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.blocks {
  width: 70%;
}

@media (width <= 1400px) {
  .blocks {
    width: 80%;
  }
}

@media (width <= 1300px) {
  .blocks {
    width: 85%;
  }
}

@media (width <= 1150px) {
  .blocks {
    width: 95%;
  }
}

:root {
  --nav-height: 10vh;
  --nav-height-mobile: 7vh;
  --footer-height: 15vh;
  --blue: #00497b;
  --white: #ffffff;
  --light-grey: #f1f2f2;
  --cream1: #fffcd7;
  --cream2: #fcf7ce;
  --cream3: #eedc9e;
  --cream4: #e5c97c;
  --cream5: #dfbe67;
  --cream6: #ddba60;
  --comp-margin-top: 3rem;
  --comp-margin-bottom: 3rem;
}
