.contact {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-image: url(../../../../../assets/contact/background.png);
  position: relative;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  background-position: center center;
  height: calc(fit-content + 20vh);
  box-sizing: border-box;
}

.contact-ltr {
  background-image: url(../../../../../assets/contact/background-ltr.png);
}

.contact-mobile {
  background-image: url(../../../../../assets/contact/bg-mobile.png);
}

.contact-mobile-ltr {
  background-image: url(../../../../../assets/contact/bg-mobile-ltr.png);
}

.contact .data {
  width: 100%;
  padding-top: 8rem;
}

@media (width <= 1250px) {
  .contact {
    background-size: auto;
  }
  .contact .data {
    position: relative;
  }
}

@media (width <= 1000px) {
  .contact {
    margin-bottom: -10vh;
  }
  .contact .data {
    position: relative;
  }
}

@media (width <= 850px) {
  .contact .data {
    position: relative;
  }
}

.contact .data .headline {
  color: var(--white);
  padding-top: 2rem;
}

.contact-details {
  color: var(--white);
  margin-top: 1rem;
  padding-bottom: 7rem;
  background-color: var(--blue);
}

@media (width <= 420px) {
  .contact-details {
    font-size: 14px;
  }
}

@media (width <= 420px) {
  .contact-details {
    font-size: 12px;
  }
}

.contact-details-slash {
  margin: 0 1rem;
  font-size: 1.7rem;
  font-weight: 900;
  background: transparent
    radial-gradient(
      closest-side at 50% 50%,
      #fffcd7 0%,
      #fcf7ce 5%,
      #eedc9e 36%,
      #e5c97c 63%,
      #dfbe67 85%,
      #ddba60 100%
    )
    0% 0% no-repeat padding-box;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: none;
}

.contact-details-email {
  cursor: pointer;
}

.contact-details-phone {
  all: unset;
}

.contact-details-phone a {
  all: unset;
}

.contact-details-phone-mobile:hover {
  text-decoration: underline;
}

.linkedin-icon-parent {
  position: relative;
  flex-direction: column;
}

.linkedin-icon {
  cursor: pointer;
}

.linkedin-icon-mobile {
  cursor: pointer;
}
