.data {
  display: flex;
  flex-direction: row;
  width: 85%;
  height: var(--nav-height);
  margin: 0 auto;
  color: var(--blue);
  padding: 1% 0;
  position: relative;
}

.data-mobile {
  justify-content: space-between;
  width: 95%;
}

.item-left {
  margin-right: auto;
}

.item-right {
  margin-left: auto;
}

@media (width <= 1100px) {
  .data {
    width: 95%;
  }
}

.flag-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.flag-wrapper img {
  cursor: pointer;
  height: 70%;
  width: 100%;
}

@media (width <= 800px) {
  .flag-wrapper-nonmobile img {
    height: 50%;
  }
}

@media (width <= 650px) {
  .flag-wrapper-nonmobile img {
    height: 40%;
  }
}
